/* Styles.css */

body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* Header */

header {
    background-color: #f0f0f0;
    padding: 10px 20px;
    text-align: center;
}

.header-content {
    display: flex;
    justify-content: space-between;
}

.header-content-left {
    flex-direction: row;
    margin: 10px;
}

.header-content-left:hover {
    cursor: pointer;
}

.header-content-left>a {
    color: black;
    text-decoration: none;
}

.header-content-name {
    font-weight: bold;
}

nav {
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: black;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hamburger-menu {
    display: none;
    cursor: pointer;
    font-size: 25px;
    margin: 0px;
}

@media (max-width: 650px) {
    .header-content>div:nth-child(2)>nav {
        display: none;
    }

    .header-content>div:nth-child(2)>.hamburger-menu {
        display: block;
    }

    .header-content>div:nth-child(2) {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
    }
}

/* Main */

main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 35px 0;
}

.sections {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 750px;
}

section {
    width: 90%;
    min-height: 200px;
    padding: 5 20px;
    margin: 0 10px;
    margin-bottom: 10px;
}

section a {
    color: black;
}

.section_images {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.section_images div {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    max-width: 550px;
}

.section_images img {
    width: 150px;
    height: 150px;
    border-radius: 5%;
}

@media (max-width: 650px) {
    main {
        margin: 15px 0;
    }

    .section_images div {
        max-width: 400px;
    }

    .section_images img {
        width: 100px;
        height: 100px;
    }
}

/* Footer */


footer {
    background-color: #444;
    color: white;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* Wrap content on small screens */
}

.footer-content>div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.follow-me {
    display: flex;
    flex-direction: row;
    justify-content: center;
    vertical-align: center;
}

.follow-me a {
    padding-right: 12px;
    font-size: 24px;
    color: white;
}

.footer-copy {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* Modals */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 10px 25px;
    border: 1px solid #888;
    width: 35%;
    min-width: 300px;
    border-radius: 10px;
}

.modal-content h2 {
    margin-bottom: 10%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.contact-info {
    text-align: left;
    margin-top: 20px;
}

.contact-info a {
    color: black;
}

.menu-content {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.menu-content a {
    margin: 20px 0;
    text-align: center;
}

.menu-content a:hover {
    text-decoration: underline;
    cursor: pointer;
}