
/* CSS for entire page */

html {
  scroll-behavior: smooth;
}

body {
  /* background-color: #6b8285; */
  padding: 25px;
  margin-bottom: 100px;

  background-image: linear-gradient(to top right, rgb(200, 207, 226), rgb(13, 53, 117));
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.container {
  background-color: #e5e5e5;
  border-radius: 15px;
  padding: 10px;
  width: 1500px;
  position: relative;
}

/* CSS for Intro Image */

.name {
  text-align: center;
  font-size: 400%;
  color: #222831;
}

.image-gradient {
  height: 100vh;
}

.img-text {
  text-align: center;
  font-size: 400%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
  background-repeat: no-repeat;
  /* text-shadow: 1px 4px #111111; */
	
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

/* CSS for Contact Icons */

.icons {
  text-align: center;
  font-size: 350%;
	
  margin: 0;
  top: 50%;
  left: 50%;
}

.zoom {
  /* display: inline; */
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.zoom:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.zoom:hover .tooltiptextlarger {
  visibility: visible;
  opacity: 1;
}

.zoom:hover .tooltiptextmedium {
  visibility: visible;
  opacity: 1;
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 25%;

  position: absolute;
  z-index: 1;
  top: 100%;
  left: calc(50% - 60px);
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltiptextmedium{
  visibility: hidden;
  width: 160px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 25%;

  position: absolute;
  top: 100%;
  left: calc(50% - 80px);
  opacity: 0;
  transition: opacity 0.5s;
}

.tooltiptextlarger {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  font-size: 25%;

  position: absolute;
  top: 100%;
  left: calc(50% - 100px);
  opacity: 0;
  transition: opacity 0.5s;
}

.icon-color {
  color: #56b49d;
}

/* CSS for Navigation and Sections */

h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  color: #222831;
}

.nav-body {
  margin: 0;
  margin-top: 30px;
  display: grid;
  grid-template-columns: min-content 1fr;
  font-family: system-ui, sans-serif;
  }


.side-nav {
  white-space: nowrap;
  background: #A37A74;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 20px;
}

.side-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* Only stick if you can fit */
@media (min-height: 300px) {
  .side-nav ul {
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
  }
}

.side-nav ul li a {
  font-size: 22px;
  display: block;
  padding: 0.5rem 1rem;
  color: #282c31;
  text-decoration: none;
  margin-top: 15px;
}

.side-nav ul li a.sub {
  font-size: 18px;
  display: block;
  padding: 0.25rem 1rem;
  color: #282c31;
  text-decoration: none;
  margin-top: 10px;
  padding-left: 30px;
}

.side-nav ul li a.current {
  background: #393e46;
  border-radius: 10px;
  color: #eeeeee;
}

section {
  padding: 2rem;
  margin: 0 0 1rem 1rem;
  border-radius: 20px;
  background: #DCE0D9;
  min-height: 750px;
}

p {
  font-size: 18px;
  color: #222831;
}

/* CSS for About */

.avatar {
  width: 300px;
  height: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 48%;
  border-style: solid;
  border-width: 2px;
  margin-bottom: 50px;
}

.img-dragonstooth{
  margin-left: auto;
  margin-right: auto;

  border-radius: 10%;
  border-style: solid;
  border-width: 2px;
  width: 300px;
  margin-bottom: 50px;
}

.about-text {
  font-size: 18px;
  line-height: 200%;
  margin-bottom: 20px;
}

/* CSS for Contact */

p.contact {
  margin-bottom: 20px;
}

/* CSS for Project */

div.project-card {
  background: #f0f0f0;

  border-radius: 3%;
  /* border-style: solid; */
  /* border-width: 1px; */
  margin-bottom: 30px;
  min-height: 400px;
  box-shadow: 10px 10px 5px grey;
}

/* CSS for Skills */

li.list {
  font-size: 18px;
  color: #222831;
  margin-bottom: 20px;
}

li.courses {
  font-size: 16px;
  color: #222831;
  margin-bottom: 10px;
}

h2 {
  font-size: 24px;
}
h3 {
  margin-bottom: 20px;
}

/* CSS for Resume */
iframe {
  border-radius: 10px;
}

h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.section-body {
  padding: 10px;
}